@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

/* FONTS */

$tittlefont: 'Passion One', cursive;
$mainfont: 'Sriracha', cursive;

/* COLORS */

$black: rgb(0, 0, 0);
$darkpurple: rgba(35, 17, 35, 0.679);
$ultraViolet: rgb(82, 82, 140);